.login {
  background-image: radial-gradient(
      circle at 99% 33%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 16%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 99% 25%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 88%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 86%,
      transparent 86%,
      transparent 100%
    ),
    radial-gradient(
      circle at 82% 78%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(35, 48, 59), rgb(35, 48, 59));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.login input {
  border-radius: 5px;
  border: none;
  outline: none;
  height: 50px;
}

.login input[type="password"],
input[type="email"] {
  padding: 0 0 0 10px;
}

.login h1 {
  color: white;
  margin-bottom: 50px;
}

.login a {
  color: gray;
  margin-top: 20px;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .login form {
    width: 50%;
  }
}
